In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('heart.csv')

In [3]:
df.head()

,age,sex,cp,restbp,chol,fbs,restecg,thalach,examg,oldpeak,slope,ca,thal,hd
0,63,1,1,145,233,1,2,150,0,2,3,0,6,0
1,67,1,4,160,286,0,2,108,1,1,2,3,3,1
2,67,1,4,120,229,0,2,129,1,2,2,2,7,0
3,37,1,3,130,250,0,0,187,0,3,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1,1,0,3,0

In [4]:
df=df.drop(columns=['hd'])

In [5]:
len(df.columns)

13

In [6]:
df.columns[0]

'age'

In [7]:
print("    parameters:")
for i in range(13):
    
    print("      - name: " + df.columns[i])
    print("        in: query")
    print("        type: number")
    print("        required: true")

    parameters:
      - name: age
        in: query
        type: number
        required: true
      - name: sex
        in: query
        type: number
        required: true
      - name: cp
        in: query
        type: number
        required: true
      - name: restbp
        in: query
        type: number
        required: true
      - name: chol
        in: query
        type: number
        required: true
      - name: fbs
        in: query
        type: number
        required: true
      - name: restecg
        in: query
        type: number
        required: true
      - name: thalach
        in: query
        type: number
        required: true
      - name: examg
        in: query
        type: number
        required: true
      - name: oldpeak
        in: query
        type: number
        required: true
      - name: slope
        in: query
        type: number
        required: true
      - name: ca
        in: query
        type: number
        required: true
      - name: thal
        in: query
        type: number
        required: true

In [8]:
for i in range(13):
    print(df.columns[i]+"="+"request.args.get(" + "'{}'".format(df.columns[i]) + ")")

age=request.args.get('age')
sex=request.args.get('sex')
cp=request.args.get('cp')
restbp=request.args.get('restbp')
chol=request.args.get('chol')
fbs=request.args.get('fbs')
restecg=request.args.get('restecg')
thalach=request.args.get('thalach')
examg=request.args.get('examg')
oldpeak=request.args.get('oldpeak')
slope=request.args.get('slope')
ca=request.args.get('ca')
thal=request.args.get('thal')

In [9]:
for items in df.columns:
    print(items + ',',end='')

age,sex,cp,restbp,chol,fbs,restecg,thalach,examg,oldpeak,slope,ca,thal,