## About the data

1.Age(numerical)<br>
age in years<br>
2.Blood Pressure(numerical)<br>
bp in mm/Hg<br>
3.Specific Gravity(nominal)<br>
sg - (1.005,1.010,1.015,1.020,1.025)<br>
4.Albumin(nominal)<br>
al - (0,1,2,3,4,5)<br>
5.Sugar(nominal)<br>
su - (0,1,2,3,4,5)<br>
6.Red Blood Cells(nominal)<br>
rbc - (normal,abnormal)<br>
7.Pus Cell (nominal)<br>
pc - (normal,abnormal)<br>
8.Pus Cell clumps(nominal)<br>
pcc - (present,notpresent)<br>
9.Bacteria(nominal)<br>
ba - (present,notpresent)<br>
10.Blood Glucose Random(numerical)<br>
bgr in mgs/dl<br>
11.Blood Urea(numerical)<br>
bu in mgs/dl<br>
12.Serum Creatinine(numerical)<br>
sc in mgs/dl<br>
13.Sodium(numerical)<br>
sod in mEq/L<br>
14.Potassium(numerical)<br>
pot in mEq/L<br>
15.Hemoglobin(numerical)<br>
hemo in gms<br>
16.Packed Cell Volume(numerical)<br>
17.White Blood Cell Count(numerical)<br>
wc in cells/cumm<br>
18.Red Blood Cell Count(numerical)<br>
rc in millions/cmm<br>
19.Hypertension(nominal)<br>
htn - (yes,no)<br>
20.Diabetes Mellitus(nominal)<br>
dm - (yes,no)<br>
21.Coronary Artery Disease(nominal)<br>
cad - (yes,no)<br>
22.Appetite(nominal)<br>
appet - (good,poor)<br>
23.Pedal Edema(nominal)<br>
pe - (yes,no)<br>
24.Anemia(nominal)<br>
ane - (yes,no)<br>
25.Classification (nominal)<br>
classification - (ckd,notckd)<br>

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('kidney.csv')

In [3]:
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,36.0,1.2,NaN,NaN,15.4,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,18.0,0.8,NaN,NaN,11.3,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,53.0,1.8,NaN,NaN,9.6,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,56.0,3.8,111.0,2.5,11.2,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,26.0,1.4,NaN,NaN,11.6,35,7300,4.6,no,no,no,good,no,no,ckd

In [4]:
df.pcc.isnull().sum()

4

In [5]:
df[df['pc']=='normal'].pcc.fillna(value='notpresent',inplace=True)

/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [6]:
df.pcc.fillna(value='present',inplace=True)

In [7]:
df.pcc.value_counts()

notpresent    354
present        46
Name: pcc, dtype: int64

In [8]:
df=df.drop(columns=['id','rbc','htn','ane','appet','pc'])

In [9]:
df = df.dropna(subset=['age'])

In [10]:
df['classification'].value_counts()

ckd       240
notckd    149
ckd\t       2
Name: classification, dtype: int64

In [11]:
df['classification'] = df['classification'].replace(to_replace={'ckd':1.0,'ckd\t':1.0,'notckd':0.0})

In [12]:
df['wc'].unique()

array(['7800', '6000', '7500', '6700', '7300', nan, '6900', '9600',
       '12100', '4500', '12200', '11000', '3800', '11400', '5300', '9200',
       '6200', '8300', '8400', '10300', '9800', '9100', '7900', '6400',
       '8600', '18900', '21600', '4300', '8500', '11300', '7200', '7700',
       '14600', '\t6200', '7100', '11800', '9400', '5500', '5800',
       '13200', '12500', '5600', '7000', '11900', '10400', '10700',
       '12700', '6800', '6500', '13600', '10200', '9000', '14900', '8200',
       '15200', '5000', '16300', '12400', '\t8400', '10500', '4200',
       '4700', '10900', '8100', '9500', '2200', '12800', '11200', '19100',
       '\t?', '12300', '16700', '2600', '26400', '8800', '7400', '4900',
       '8000', '12000', '15700', '4100', '5700', '11500', '5400', '6300',
       '10800', '9900', '5200', '5900', '9300', '9700', '5100', '6600'],
      dtype=object)

In [13]:
df['rc'] = df['rc'].replace('\t?',0)
df['wc'] = df['wc'].replace(to_replace={'\t6200':0,'\t?':0,'\t8400':0})
df['pcv'] = df['pcv'].replace(to_replace={'\t?':0,'\t43':0})

In [14]:
df['rc'] = df['rc'].astype(float)
df['wc'] = df['wc'].astype(float)
df['pcv'] = df['pcv'].astype(float)

In [15]:
df1 = df.loc[df['classification'] == 1]
df2 = df.loc[df['classification'] == 0]

In [16]:
df1 = df1.fillna(df1.median())
df2 = df2.fillna(df2.median())

In [17]:
dataframe = [df1, df2]
df3 = pd.concat(dataframe)

In [18]:
df3['classification'].value_counts()

1.0    242
0.0    149
Name: classification, dtype: int64

In [19]:
df3['pe'].value_counts()

no     316
yes     74
Name: pe, dtype: int64

In [20]:
df3.head()

,age,bp,sg,al,su,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,dm,cad,pe,classification
0,48.0,80.0,1.020,1.0,0.0,notpresent,notpresent,121.0,36.0,1.2,136.0,4.3,15.4,44.0,7800.0,5.2,yes,no,no,1.0
1,7.0,50.0,1.020,4.0,0.0,notpresent,notpresent,144.0,18.0,0.8,136.0,4.3,11.3,38.0,6000.0,3.9,no,no,no,1.0
2,62.0,80.0,1.010,2.0,3.0,notpresent,notpresent,423.0,53.0,1.8,136.0,4.3,9.6,31.0,7500.0,3.9,yes,no,no,1.0
3,48.0,70.0,1.005,4.0,0.0,present,notpresent,117.0,56.0,3.8,111.0,2.5,11.2,32.0,6700.0,3.9,no,no,yes,1.0
4,51.0,80.0,1.010,2.0,0.0,notpresent,notpresent,106.0,26.0,1.4,136.0,4.3,11.6,35.0,7300.0,4.6,no,no,no,1.0

In [21]:
df3.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'pcc', 'ba', 'bgr', 'bu', 'sc', 'sod',
       'pot', 'hemo', 'pcv', 'wc', 'rc', 'dm', 'cad', 'pe', 'classification'],
      dtype='object')

In [22]:
df3.pcc.value_counts()

notpresent    345
present        46
Name: pcc, dtype: int64

In [23]:
df3.dm.unique()

array(['yes', 'no', '\tno', '\tyes', nan], dtype=object)

In [24]:
df3[['dm','cad','pe']] = df3[['dm','cad','pe']].replace(to_replace={'yes':1,'no':0})
df3[['pcc','ba']] = df3[['pcc','ba']].replace(to_replace={'present':1,'notpresent':0})
df3['dm'] = df3['dm'].replace(to_replace={'\tno':0,'\tyes':1,' yes':1})
df3['cad'] = df3['cad'].replace(to_replace='\tno',value=0)

In [25]:
df3.head()

,age,bp,sg,al,su,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,dm,cad,pe,classification
0,48.0,80.0,1.020,1.0,0.0,0,0.0,121.0,36.0,1.2,136.0,4.3,15.4,44.0,7800.0,5.2,1,0.0,0.0,1.0
1,7.0,50.0,1.020,4.0,0.0,0,0.0,144.0,18.0,0.8,136.0,4.3,11.3,38.0,6000.0,3.9,0,0.0,0.0,1.0
2,62.0,80.0,1.010,2.0,3.0,0,0.0,423.0,53.0,1.8,136.0,4.3,9.6,31.0,7500.0,3.9,1,0.0,0.0,1.0
3,48.0,70.0,1.005,4.0,0.0,1,0.0,117.0,56.0,3.8,111.0,2.5,11.2,32.0,6700.0,3.9,0,0.0,1.0,1.0
4,51.0,80.0,1.010,2.0,0.0,0,0.0,106.0,26.0,1.4,136.0,4.3,11.6,35.0,7300.0,4.6,0,0.0,0.0,1.0

In [26]:
df3.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'pcc', 'ba', 'bgr', 'bu', 'sc', 'sod',
       'pot', 'hemo', 'pcv', 'wc', 'rc', 'dm', 'cad', 'pe', 'classification'],
      dtype='object')

In [27]:
df3.isnull().sum()

age               0
bp                0
sg                0
al                0
su                0
pcc               0
ba                4
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
dm                2
cad               2
pe                1
classification    0
dtype: int64

In [28]:
df3.dropna(subset=['dm','pe','cad','ba'],inplace=True)

In [29]:
df3.shape

(384, 20)

In [30]:
X = df3.drop(columns=['classification'])

In [31]:
y = df3['classification']

In [32]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.15, random_state = 45)

In [33]:
from imblearn.over_sampling import SMOTE
smt = SMOTE()
x_train, y_train = smt.fit_sample(x_train, y_train)

In [34]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=200, bootstrap = True, max_features = 'sqrt')
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
print('Accuracy of Random Forest on test set: {:.2f}'.format(model.score(x_test, y_test)))

Accuracy of Random Forest on test set: 1.00

In [35]:
import pickle
pickle.dump(model,open('model_kidney.pkl','wb'))